@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body{
    --border-color: #fff;
    color:#222;
    font-family: Poppins;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: #efefef;
    width: 270px;
    text-align: center;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    padding: 50px 30px;
    box-shadow: 0 50px 150px #5553;
    position: relative;
}
.login .title{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 30px;
}
.login .group{
    background-color: var(--border-color);
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .group input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 20px;
    font-family: Poppins;
    outline: none;
}
.login .group span{
    color: #777;
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}
.login .group span ion-icon:nth-child(2){
    display: none;
}
.login .signIn button{
    background-color: #FA6A69;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-family: Poppins;
    box-shadow: 0 10px 20px #FA6A6999;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: 0.5s;
    color: #fff;
}
.login .signIn button:active{
    box-shadow: none;
    transform: translateY(5px);
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.form-control {
    margin-bottom: 20px;
}

label {
    font-family: Poppins;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #FA6A69;
    width: 30%;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-family: Poppins;
    box-shadow: 0 10px 20px #FA6A6999;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    color: #fff;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}
